version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: postgres_container
    environment:
        POSTGRES_DB: mentejuegodb
        POSTGRES_USER: admin
        POSTGRES_PASSWORD: admin
    ports:
      - "6969:5432"
    volumes:
        - postgres_data:/var/lib/postgresql/data
    networks:
      - backend

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "8181:80"
    depends_on:
      - postgres
    restart: always
    networks:
      - backend

networks:
  backend:
    driver: bridge

volumes:
  postgres_data: